<section class="error-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="error-content">
                    <img src="assets/img/404.webp" alt="error">
                    <h3>Page non trouvée</h3>
                    <p>La page que vous recherchez pourrait avoir été supprimée si son nom a changé ou est temporairement indisponible.</p>
                    <a routerLink="/" class="default-btn">Accueil</a>
                </div>
            </div>
        </div>
    </div>
</section>
