<a class="chatbot" (click)="toggleSwitcher()"><img src="../../../../assets/img/chat.webp"></a>
<div class="chatbotpart" [hidden]="isVisible">
    <div class="card">
        <h4 class="card-header center text-primary">
            <img src="../../../../assets/img/choose.webp" width="50px" height="50px">LEA CONSEIL <a class="red"
                type="button" (click)="toggleSwitcher()"><i class="bx bx-chevron-down"></i></a>
        </h4>
        <h6 class="card-header center text-primary">Nous sommes hors ligne</h6>
        <div class="card-body">
            <div class="frame-box">
                <ng-container *ngFor="let message of messages">
                    <div class="message" [ngClass]="{'from':message.author==='LEACONSEIL',
                        'to':message.author===''}">{{message.content}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div
                            *ngIf="message.author==='LEACONSEIL' && message.content!='Votre données sont bien envoyées, nous vous contacterons dans les brefs delais.'">
                            <form>
                                <div class="row mt-2">
                                    <div class="col-md-12"><input class="form-control" placeholder="Votre Nom"
                                            [(ngModel)]="form.nom" [ngModelOptions]="{standalone:
                                            true}" required></div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12"><input class="form-control" placeholder="Votre Prénom"
                                            [(ngModel)]="form.prenom" [ngModelOptions]="{standalone:
                                            true}" required></div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12"><input class="form-control" placeholder="Votre Email"
                                            [(ngModel)]="form.email" [ngModelOptions]="{standalone:
                                            true}" required></div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12"><input class="form-control"
                                            placeholder="Votre Numéro Téléphone" [(ngModel)]="form.telephone"
                                            [ngModelOptions]="{standalone:
                                            true}" required></div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12"><textarea class="form-control" placeholder="Votre message"
                                            [(ngModel)]="form.message" [ngModelOptions]="{standalone:
                                            true}" required></textarea></div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-6"><button class="default-btn"
                                            (click)="AddFormChat()">Envoyer</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="container">
                <input class="form-control" type="text" [(ngModel)]="value" (keyup.enter)="sendMessage()"
                    placeholder="Votre message" name="name" required>
                <button type="submit" class="btn btn-primary" (click)="sendMessage()"><i
                        class="bx bxs-paper-plane"></i></button>
            </div>
        </div>
    </div>
</div>