<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <a>Politique de Confidentialité de LEA CONSEIL</a>
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="conditions-section ptb-100">
    <div class="container">
        <div class="single-privacy">
            <p>LEA CONSEIL attache une grande importance à la protection de la vie privée de ses clients et
                utilisateurs. Cette Politique de Confidentialité explique comment les données à caractère
                personnel fournies par LEA CONSEIL sont économes et utilisées.</p>
            <hr>
            <p>Collecte des données LEA CONSEIL peut collecter des données à caractère personnel, telles
                que le nom, l&#39;adresse, l&#39;adresse e-mail, le numéro de téléphone, et d&#39;autres informations
                nécessaires à la fourniture des services de conseil en ressources humaines . Ces données sont
                nécessaires de manière volontaire par les clients ou utilisateurs lors de la passation de
                commande, de la création d&#39;un compte, de l&#39;inscription à une newsletter, ou de toute autre
                interaction avec le site internet de LEA CONSEIL.</p>
            <hr>
            <p>Utilisation des données Les données à caractère personnel requises par LEA CONSEIL sont
                utilisées dans le but de fournir les services de conseil en ressources humaines demandées, de
                gérer les comptes des clients ou utilisateurs, de répondre à leurs demandes, de leur envoyer
                des informations sur les services de LEA CONSEIL, d&#39;améliorer les services de LEA
                CONSEIL, et de se conformer aux obligations légales en vigueur.</p>
            <hr>
            <p>Partage des données LEA CONSEIL peut être amené à partager les données à caractère
                personnel fourni avec des fournisseurs de services tiers impliqués dans la fourniture des
                services de conseil en ressources humaines, tels que les sous-traitants, les partenaires
                commerciaux, les hébergeurs de site internet , les prestataires de paiement, et les autorités
                légales lorsque cela est nécessaire pour se conformer à la loi.</p>
            <hr>
             <p>Sécurité des données LEA CONSEIL met en place des mesures de sécurité efficaces pour
                protéger les données à caractère personnel nécessitant contre tout accès non autorisé, toute
                utilisation abusive, toute divulgation, toute altération ou toute destruction.</p>
            <hr>
             <p>Cookies Le site internet de LEA CONSEIL peut utiliser des cookies pour améliorer
                l&#39;expérience utilisateur. Les cookies sont de petits fichiers textes stockés sur le dispositif de
                l&#39;utilisateur qui permettent de reconnaître l&#39;utilisateur lorsqu&#39;il visite le site internet de LEA
                CONSEIL. L&#39;utilisateur peut configurer son navigateur pour refuser les cookies, mais cela
                peut affecter certaines fonctionnalités du site internet.
            </p>
            <hr>
            <p>Droits des utilisateurs Les clients et utilisateurs de LEA CONSEIL ont le droit d&#39;accéder à
                leurs données à caractère personnel, de les rectifier, de les supprimer, de limiter leur
                traitement, de s&#39;opposer à leur traitement, et de demander leur portabilité, conformément à la
                législation en vigueur. Pour exercer ces droits, les clients et les utilisateurs peuvent contacter
                LEA CONSEIL aux coordonnées fournies dans la présente Politique de Confidentialité.</p>
            <hr>
            <p>Modification de la Politique de Confidentialité LEA CONSEIL se réserve le droit de modifier
                cette Politique de Confidentialité à tout moment. Les modifications seront publiées sur le site
                internet de LEA CONSEIL et seront applicables à compter de leur publication.</p>
             <p>Fait à Paris, le 15/04/2023</p>
        </div>
    </div>
</section>
