a {
    font-family:Montserrat !important;
    font-size: 40px;
    color: black;
}
p {
    font-family:Montserrat !important;
    color: black;
    font-size: 20px;
}
.page-title-content a{
    font-family:Montserrat !important;
    font-size: 40px;
    color: white;
}
.item-bg-1 {
    background-image: url(../../../../assets/img/home-one/home3.webP);
}
