<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <a>LEA CONSEIL, cabinet d’externalisation de la paie </a>
                    <ul>
                        <li>Services 360° pour gérer la paie et les obligations sociales de votre entreprise</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-section pt-100">
    <div class="container qsn">
        <div class="section-title">
            <a>Qui sommes-nous ?</a>
            <div class="bar"></div>
        </div>
            <p>LEA CONSEIL est un cabinet conseil en paie et RH
                spécialisé dans l'externalisation de la paie. Fondée par
                des experts en comptabilité, RH et services aux
                entreprises. Forte de notre expérience diversifiée,
                notre équipe d'experts qualifiés met à votre disposition
                un large éventail de services RH pour répondre à vos
                besoins spécifiques.</p>
            <hr>
            <p> Nos services incluent l'externalisation complète de la
                paie, la gestion des contrats et des déclarations
                sociales, la veille juridique et les conseils en gestion
                des ressources humaines. Nous mettons en place des
                solutions sur mesure, adaptées à vos besoins
                spécifiques, pour simplifier vos processus RH et
                garantir votre conformité légale</p>
            <hr>
            <p>
                Chez LEA CONSEIL, nous attachons une grande importance à
                l'approche personnalisée envers nos clients. Nous
                comprenons que chaque entreprise est unique, c'est
                pourquoi nous nous efforçons de fournir des solutions
                sur mesure adaptées à vos besoins spécifiques. Notre
                équipe est réactive, professionnelle et assure la
                confidentialité de vos données, vous permettant ainsi de
                vous concentrer sur votre cœur de métier en toute
                tranquillité.
            </p>
            <hr>
            <p>
                En choisissant LEA CONSEIL comme partenaire RH, vous
                bénéficiez d'une expertise solide et d'un service de
                qualité pour optimiser la gestion de vos ressources
                humaines et de votre paie.
                Contactez-nous dès maintenant pour en savoir plus sur
                nos services et découvrir comment nous pouvons vous
                aider à maximiser la performance de votre entreprise
            </p>
    </div>
</section>
<section class="services-section bg-color pt-100 pb-70 mt-5">
    <div class="container">
        <div class="section-title">
            <a><span>Nos expertises</span></a>
            <p></p>
            <div class="bar"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box titre" type="button" routerLink="/ExternalisationPaie" >
                    <div class="icon">
                        <i class="bx bx-selection"></i>
                    </div><br><br>
                    <a>Externalisation de la paie</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box titre" type="button" routerLink="/InternalisationPaie">
                    <div class="icon bg-84b7fd">
                        <i class="flaticon-internet"></i>
                    </div><br><br>
                    <a>Internalisation de la paie</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="single-services-box titre" type="button" routerLink="/Audit">
                    <div class="icon bg-79e8e2">
                        <i class="flaticon-report"></i>
                    </div><br><br>
                    <a>Audit</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="single-services-box titre" type="button" routerLink="/BilanSocial">
                    <div class="icon bg-79e8e2">
                        <i class="flaticon-data"></i>
                    </div><br><br>
                    <a>Bilan social</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-services-box titre"  type="button" routerLink="/SousTraitance">
                    <div class="icon bg-deb0fe">
                        <i class="flaticon-quality"></i>
                    </div><br><br>
                    <a>Sous-traitance pour les cabinets d'experts comptables</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-services-box titre" type="button" routerLink="/SIRH">
                    <div class="icon bg-fe929f">
                        <i class="flaticon-technical-support"></i>
                    </div><br><br>
                    <a>Accompagnement de la mise en place SIRH</a>
                </div>
            </div>
        </div>
    </div>
</section>

