<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <a>Mentions légales</a>
                    <ul>
                        <li>En vigueur au 15/04/2023</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="conditions-section ptb-100">
    <div class="container">
        <div class="single-privacy">
            <p>Conformément aux dispositions des Articles 6-III et 19 de la Loi
                n°2004-575 du 21 juin 2004 pour la
                Confiance dans l’économie numérique, dite L.C.E.N., il est porté
                à la connaissance des utilisateurs et
                visiteurs, ci-après l&quot;&quot;Utilisateur&quot;, du site
                www.leaconseil.com , ci-après le &quot;Site&quot;, les présentes
                mentions légales.</p>
            <p>La connexion et la navigation sur le Site par l’Utilisateur
                implique acceptation intégrale et sans réserve
                des présentes mentions légales.<br>
                Ces dernières sont accessibles sur le Site à la rubrique «
                Mentions légales ».</p>
            <hr>
            <a>ARTICLE 1 - L&#39;EDITEUR</a>
            <p>L&#39;édition du Site est assurée par LEADER DES EXPERTS EN
                ACCOMPAGNEMENT SAS au capital
                de 5000 euros, immatriculée au Registre du Commerce et des
                Sociétés de PARIS sous le numéro
                948321898 dont le siège social est situé au 9 RUE DES COLONNES
                75002 PARIS,</p>
            <p>Numéro de téléphone 33980804626,</p>
            <p>Adresse e-mail : contact@leaconseil.com.</p>
            <p>N° de TVA intracommunautaire : FR35948321898</p>
            <p>Le Directeur de la publication est FARTOUN KAMEL</p>
            <p>ci-après l&#39;&quot;Editeur&quot;.</p>
            <hr>
            <a>ARTICLE 2 - L&#39;HEBERGEUR</a>
            <p>L&#39;hébergeur du Site est la société OVH, dont le siège social
                est situé au 2 rue kellermann BP 80157
                59053 ROUBAIX CEDEX 1 , avec le numéro de téléphone : 0972101010
                + adresse mail de
                contact</p>
            <hr>
            <a>ARTICLE 3 - ACCES AU SITE</a>
            <p>Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de
                force majeure, interruption
                programmée ou non et pouvant découlant d’une nécessité de
                maintenance.</p>
            <p>En cas de modification, interruption ou suspension du Site,
                l&#39;Editeur ne saurait être tenu responsable.</p>
            <hr>
            <a>ARTICLE 4 - COLLECTE DES DONNEES</a>
            <p>Le Site assure à l&#39;Utilisateur une collecte et un traitement
                d&#39;informations personnelles dans le respect
                de la vie privée conformément à la loi n°78-17 du 6 janvier 1978
                relative à l&#39;informatique, aux fichiers
                et aux libertés.</p>
            <p>En vertu de la loi Informatique et Libertés, en date du 6 janvier
                1978, l&#39;Utilisateur dispose d&#39;un droit
                d&#39;accès, de rectification, de suppression et
                d&#39;opposition de ses données personnelles. L&#39;Utilisateur
                exerce ce droit :<br>
                * par mail à l&#39;adresse email contact@leaconseil.com
            </p>
            <p>Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du Site﻿,
                sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires
                telles que notamment prévues par le Code de la propriété intellectuelle et le Code civil.</p>
        </div>
    </div>
</section>
