
<app-navbar-one></app-navbar-one>






<div class="page-title-area item-bg-1">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container">
              <div class="page-title-content">
                  <a>PROCÉDURE CONSEIL DE DISCIPLINE</a>
                  <ul>
                      <li></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>

<main class="container">



  <div class="row g-5">
    <div class="col-md-8">
    

      <article class="blog-post">
        <h3 class="display-5 link-body-emphasis mb-1">PROCÉDURE CONSEIL DE DISCIPLINE


        </h3>
        <br>
        <p class="blog-post-meta">La procédure disciplinaire doit être obligatoirement engagée
<br>
          Le chef d'établissement doit engager une procédure disciplinaire :
          </p>

        <p> •	en cas de violences verbales à l'adresse d'un membre du personnel de l'établissement ou de violences physiques à son encontre ; à titre d'exemple, doivent être considérées comme violences verbales les propos outrageants et les menaces proférées notamment à l'occasion de discours tenus dans les lieux ou réunions publics ;
        </p>
        <p>	•	lorsque l'élève commet un acte grave à l'encontre d'un membre du personnel ou d'un autre élève susceptible de justifier une sanction disciplinaire : harcèlement d'un camarade ou d'un membre du personnel de l'établissement, dégradations volontaires de biens leur appartenant, tentative d'incendie, introduction d'armes ou d'objets dangereux, racket, violences sexuelles, etc.

        </p>
        <hr>
        <p>Le règlement intérieur peut préciser les trois cas dans lesquels l'engagement d'une procédure est obligatoire : violences verbales, actes graves et violences physiques.
          Il est rappelé que l'attitude du personnel doit avoir valeur d'exemplarité, l'article 2 de la loi n° 2005-380 du 23 avril 2005 d'orientation et de programme pour l'avenir de l'école qui fait obligation aux personnels de « mettre en œuvre » les valeurs de la République « dans l'exercice de leurs fonctions ».
         
         </p>
       
        <hr>
        <h3>Prise de décision
        </h3>
        <p>Le chef d'établissement décide seul si il est nécessaire d'engager une procédure disciplinaire, éventuellement à la demande d'un membre de la communauté éducative: Ensemble des élèves et des personnes qui participent à l'action éducative dans les établissements scolaires : personnel de l'établissement (d'enseignement, de direction, technique, etc.), parents d'élèves, représentants des élèves et des parents d'élèves, et autres acteurs institutionnels.
        </p>
       
        
        <dl>
          <dt>La décision d'engager ou non une procédure disciplinaire ne peut pas faire l'objet d'un recours devant le tribunal
          </dt>
       
        </dl>
        <h3>Interdiction temporaire d'accès</h3>
        <p>Le chef d'établissement peut interdire à l'élève l'accès à l'établissement pendant au moins 2 jours avant de prononcer une sanction.
          Il ne s'agit pas d'une sanction, mais d'une mesure exceptionnelle.
          </p>
          <h3>Procédure</h3>
        <ul>
          <li>La procédure doit être prévue dans le règlement intérieur de l'établissement.
          </li>
          <li>L'élève est informé des faits qu'on lui reproche et peut consulter son dossier.
          </li>
          <li>Dans un délai d'au moins 2 jours, il a le droit de se défendre oralement ou par écrit et de se faire assister par une personne de son choix.
          </li>
          <li>Son représentant légal peut également présenter des observations.
          </li>
          <li>Le chef d'établissement doit justifier la sanction qu'il prend. Il doit également indiquer les voies et délais de recours.
          </li>
          <li>La décision est envoyée à l'élève ou son représentant légal par lettre recommandée ou remise en main propre.
          </li>
          <li>Le chef d'établissement l'inscrit dans un registre des sanctions
          </li>
        </ul>
       
        <h3>Sanctions
        </h3>
        <ul>
          <p>Le chef d'établissement peut prononcer les sanctions suivantes :
          </p>
          <li>		Avertissement
          </li>
          <li>Blâme</li>
          <li>Mesure de responsabilisation : Sanction disciplinaire qui consiste à participer, en dehors des heures d'enseignement, à des activités de solidarité, culturelles ou de formation ou à l'exécution d'une tâche à des fins éducatives jusqu'à 20 heures maximum
          </li>
          <li>Exclusion temporaire de la classe jusqu'à 8 jours maximum</li>
         
        </ul>
        <p>Les sanctions sont inscrites au dossier administratif de l'élève. Elles y sont conservées pour une durée limitée.
        </p>
        <h3>Recours administratif
        </h3>
        <p>L'élève (ou son représentant légal si il est mineur) peut faire un recours contre la décision du chef d'établissement dans un délai de 2 mois après la notification: Formalité par laquelle un acte de procédure ou une décision est portée à la connaissance d’une personne de la décision. Ce recours peut être présenté au chef d'établissement (recours gracieux) ou à l'autorité académique (recours hiérarchique)
        </p>
       
      </article>

 
      <div  style="display: flex; flex-direction: column;">
        <div class="col-md-6 ddd">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Collège
           
              Membres
              </h2>
            <p>Le conseil de discipline comprend les 14 membres suivants :
            </p>
            <ul>
              <li>9 membres de l'établissement : le chef d'établissement, son adjoint, 1 conseiller principal d'éducation (CPE), le gestionnaire de l'établissement et 5 représentants élus des personnels</li>
              <li>3 représentants élus des parents d'élèves
              </li>
              <li>2 représentants élus des élèves
              </li>
            </ul>
            <p>Tous les membres font partie du conseil d'administration de l'établissement.
            </p>
          </div>
        </div>
        <br>
        <br>
        <div class="col-md-6 ddd ">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Lycée Membres</h2>
            <p>Le conseil de discipline comprend les 14 membres suivants :</p>
           <ul>
            <li>9 membres de l'établissement : le chef d'établissement, son adjoint, 1 conseiller principal d'éducation (CPE), le gestionnaire de l'établissement et 5 représentants élus des personnels,
            </li>
            <li>2 représentants élus des parents d'élèves,
            </li>
            <li>3 représentants élus des élèves.
            </li>
           </ul>
          </div>
        </div>
      </div>
<br>


<hr>
    <article class="blog-post">
      <h2 class="display-5 link-body-emphasis mb-1">Convocation
      </h2>
      <p class="blog-post-meta">Le chef d'établissement fixe la date de la séance.
     <br>   Il convoque l'élève, son représentant légal et éventuellement la personne chargée de le défendre par lettre recommandée ou remise en main propre contre signature.
     <br>   Le chef d'établissement convoque par tout moyen, y compris par mail les personnes suivantes :
        </p>

     <ul>
      <li>	Personne ayant demandé la comparution de l'élève
      </li>
     <li>Témoins pouvant éclairer le conseil sur les faits reprochés à l'élève. S'ils sont mineurs, leurs représentants légaux doivent aussi être convoqués.
    </li>
     <li>Membres du conseil.
    </li>
    </ul>
    <p>Les convocations doivent être transmises au moins 5 jours avant la date de la séance.
    <br>  Pour des raisons de sécurité, le chef d'établissement peut délocaliser le conseil de discipline dans un autre établissement scolaire ou dans les locaux de l'inspection académique.
      </p>
 

     
    </article>
<hr>
<article class="blog-post">
<h2 class="display-5 link-body-emphasis mb-1">Déroulement du conseil
</h2>
<p class="blog-post-meta">Le président du conseil de discipline expose les faits.
 <br> Le conseil entend l'élève et, sur leur demande, la personne chargée de l'assister et son représentant légal.
  <br> Le président donne également la parole aux personnes suivantes :
  </p>

<ul>
<li>	2 professeurs de la classe (désignés par le chef d'établissement)

</li>
<li>2 délégués de la classe
</li>
<li>Personne ayant demandé la comparution de l'élève

</li>
<li>Témoins susceptibles d'éclairer le conseil sur les faits reprochés à l'élève
</li>
<li>Toute personne pouvant fournir des éléments d'informations utiles sur l'élève
</li>
</ul>
<p>Chaque partie doit présenter ses arguments.
<br> Le conseil de discipline délibère à bulletins secrets à la majorité des suffrages exprimés.
<br> Le président informe aussitôt l'élève et son représentant légal de la décision du conseil.
<br>  Cette décision est notifiée par lettre recommandée, avec mention des délais et voies de recours possibles.

</p>



</article>

<hr>
<article class="blog-post">
  <h2 class="display-5 link-body-emphasis mb-1">Réunion du conseil de discipline départemental

  </h2>
  <p class="blog-post-meta">Le conseil de discipline départemental comprend les membres suivants :

    </p>

 <ul>
  <li>	Directeur académique des services de l'Éducation nationale (DASEN) ou son représentant


  </li>
 <li>2 représentants des personnels de direction

</li>
 <li>	2 représentants des personnels d'enseignement


</li>
<li>1 représentant des personnels d'établissement

</li>
<li>1 conseil principal d'éducation

</li>
<li>2 représentants des parents d'élèves
</li>
<li>2 représentants des élèves.
</li>
</ul>
<p>Ces représentants (sauf le DASEN) sont tous membres d'un conseil de discipline d'établissement.
  Ils sont nommés pour 1 an par le recteur d'académie. <br>
   Pour convoquer le conseil de discipline départemental, doit être saisie
 <br>
   •  Des faits d'atteinte grave aux personnes ou aux biens	<br>
   •	Risque pour la sérénité du conseil, l'ordre ou la sécurité de l'établissement
 
     
  </p>


 
</article>   

    </div>

    <div class="col-md-4">
      <div class="position-sticky " style="top: 2rem;" >
        <div class="p-4 mb-3 bg-body-tertiary rounded ">
          <h4 class="fst-italic">Interdiction temporaire d'accès
          </h4>
          <p class="mb-0">Le chef d'établissement peut interdire à l'élève l'accès à l'établissement pendant au moins 2 jours avant de prononcer une sanction.
            Il ne s'agit pas d'une sanction, mais d'une mesure exceptionnelle.
            </p>
        </div>

      <hr>

        <div class="p-4">
          <h4 class="fst-italic">Textes de loi et références
          </h4>
          <ol >
            <li>Code de l'éducation : articles R511-20 à R511-24Composition du conseil de discipline de l'établissement
            </li>
            <li>Code de l'éducation : articles D511-25 à R511-29Compétence du conseil de discipline de l'établissement
           </li>
            <li>Code de l'éducation : articles D511-30 à D511-43Procédure disciplinaire devant le conseil de discipline de l'établissement
           </li>
            <li>Code de l'éducation : articles D511-44 à D511-46Le conseil de discipline départemental
            </li>
            <li>Code de l'éducation : articles R511-49 à D511-58Appel des décisions du conseil de discipline de l'établissement ou du conseil de discipline départemental
            </li>
            <li>Circulaire n°2014-059 du 27 mai 2014 relative à l'application de la règle, mesures de prévention et sanctions dans les établissements scolaires (PDF - 99.8 KB)
            </li>
            <li>Circulaire n°2011-112 du 1er août 2011 relative au règlement intérieur des établissements d'enseignement
            </li>
            <li>Arrêté du 30 novembre 2011 fixant les clauses types de la convention prévue à l'article R. 511-13 du code de l'éducation
            </li>
            <li>Circulaire n°2018-098 du 20 août 2018 relative à la composition et au fonctionnement des instances de la vie lycéenne
            </li>
          
          </ol>
        </div>

    
      </div>
    </div>
  </div>

</main>

