<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <a>Externalisation de la paie</a>
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="faq-section ptb-100">
    <div class="container qsn">
        <div class="section-title">
            <a>Établir un bulletin de paie ne s’improvise plus !</a>
            <div class="bar"></div>
        </div>
        <p>La solution d’externalisation et de gestion de la paie proposée par
            LEA Conseil a été développée pour répondre à cette problématique.
            Nos gestionnaires de paie sécurisent cette mission et notre service
            s’intègre naturellement dans votre organisation. Nos compétences
            dans cette mission de sous-traitance vous permettent d’optimiser le
            traitement de votre paie avec une offre innovante, personnalisée et
            éprouvée.</p>
        <hr>
        <div class="section-title mt-5">
            <a>L’externalisation de la paie n’a jamais été aussi simple !</a>
            <div class="bar"></div>
        </div>
        <p>
            Focalisez-vous sur vos objectifs prioritaires, gagnez du temps et de
            l’énergie en confiant l’externalisation de vos bulletins de paie à
            nos experts.
            Nos solutions sur mesure s’adaptent à votre contexte pour vous
            permettre de gagner en efficacité, en sérénité et réactivité.
        </p>
    </div>
</section>
