.qsn {
    font-family:Montserrat !important;
    color: black;
    font-size: 20px;
}

.faq-image img{
    border-radius: 25px;
}

span{
    color:#0060A1;
}

.page-title-content a{
    font-family:Montserrat !important;
    font-size: 40px;
    color: white;
}

.section-title a{
    font-family:Montserrat !important;
    font-size: 40px;
    color: black;
}
.item-bg-1 {
    background-image: url(../../../../assets/img/home-one/home3.webP);
}
