<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <a>Bilan Social</a>
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="faq-section ptb-100">
    <div class="container">
        <div class="section-title">
            <a>Notre mission : Vous guider et vous accompagner dans <span>la gestion de vos obligations sociales</span></a>
            <div class="bar"></div>
        </div>
        <p class="qsn">Vous savez que pour optimiser la performance de votre
            entreprise, vous devez susciter l’engagement de vos collaborateurs.
            La mise en œuvre d’actions concrètes, une démarche de transparence
            et une communication efficace sont des éléments clés. Et des outils,
            tels que <span>le bilan social individuel</span>, sont également
            précieux. En
            quoi le bilan social individuel est un outil précieux dans votre
            entreprise et comment le mettre en place ? Suivez le guide avec LEA
            CONSEIL !</p>
        <hr>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 mb-5">
                <div class="faq-accordion" id="accordionEx" role="tablist"
                    aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a data-bs-toggle="collapse"
                                data-bs-parent="#accordionEx"
                                href="#collapseOne" aria-expanded="false"
                                aria-controls="collapseOne">Qu’est-ce qu’un
                                Bilan Social Individuel ?<i class='bx
                                    bx-chevron-down'></i></a>
                        </div>
                        <div id="collapseOne" class="collapse"
                            role="tabpanel" data-bs-parent="#accordionEx">
                            <div class="card-body">
                                <p>Le bilan social individuel (BSI) est un
                                    document qui décrit l’ensemble des éléments
                                    de rémunération et des avantages dont a
                                    bénéficié un salarié. Comme son nom
                                    l’indique, ce bilan est établi
                                    individuellement, pour chaque salarié. En
                                    général, l’entreprise le réalise une fois
                                    par an.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a class="collapsed" data-bs-toggle="collapse"
                                data-bs-parent="#accordionEx"
                                href="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">À l’attention de la
                                Direction des ressources humaines (DRH)<i
                                    class='bx bx-chevron-down'></i></a>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel"
                            data-bs-parent="#accordionEx">
                            <div class="card-body">
                                <p>Ne confondez pas le BSI avec le bilan social.
                                    Le bilan social est obligatoire pour les
                                    entreprises d’au moins 300 salariés. Ce
                                    document permet de rendre compte de la
                                    situation de l’entreprise dans le domaine
                                    social, au cours de l’année et écoulée et
                                    des deux précédentes. Il comprend donc des
                                    données chiffrées : rémunérations, charges…
                                    Mais aussi des informations relatives à la
                                    formation et aux conditions d’hygiène et de
                                    sécurité.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a class="collapsed" data-bs-toggle="collapse"
                                data-bs-parent="#accordionEx"
                                href="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">Le BSI est-il une
                                obligation légale ? Est-il obligatoire ?<i
                                    class='bx bx-chevron-down'></i></a>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel"
                            data-bs-parent="#accordionEx">
                            <div class="card-body">
                                <p>Même si de plus en plus d’entreprises
                                    l’utilisent, le Bilan Social Individuel
                                    n’est pas obligatoire.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <a class="collapsed" data-bs-toggle="collapse"
                                data-bs-parent="#accordionEx"
                                href="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">Qui est concerné
                                par le bilan social individuel ?<i class='bx
                                    bx-chevron-down'></i></a>
                        </div>
                        <div id="collapseFour" class="collapse" role="tabpanel"
                            data-bs-parent="#accordionEx">
                            <div class="card-body">
                                <p>Le chef d’entreprise, le service RH et tous
                                    les salariés sont concernés : le management
                                    et les employés. Il est principalement
                                    transmis au moment de l’entretien annuel du
                                    salarié et lors des négociations de salaire
                                    annuelles puisqu’il reflète la politique de
                                    rémunération de l’entreprise.</p>
                                <p>
                                    En revanche, ce qui est obligatoire,
                                    conformément au Code du travail, c’est de
                                    remettre à chaque salarié :

                                    Un contrat de travail qui précise la
                                    rémunération et les éventuels avantages en
                                    nature. La seule exception concerne le CDI à
                                    temps plein qui peut être conclu à l’oral,
                                    sauf disposition conventionnelle. Dans ce
                                    cas vous devez transmettre au salarié un
                                    document écrit qui reprend les informations
                                    de la déclaration préalable à l’embauche
                                    (DPAE).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 mb-5">
                <div class="faq-accordion" id="accordionEx" role="tablist"
                    aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFive">
                            <a data-bs-toggle="collapse"
                                data-bs-parent="#accordionEx"
                                href="#collapseFive" aria-expanded="false"
                                aria-controls="collapseFive">Un bulletin de
                                salaire au moment du versement<i class='bx
                                    bx-chevron-down'></i></a>
                        </div>
                        <div id="collapseFive" class="collapse"
                            role="tabpanel" data-bs-parent="#accordionEx">
                            <div class="card-body">
                                <p>Les informations suivantes doivent apparaitre
                                    :</p>
                                <ul>
                                    <li>la rémunération brute</li>
                                    <li>les taux et les différents montants des
                                        cotisations et contributions sociales</li>
                                    <li>le net à payer</li>
                                    <li>le net imposable</li>
                                    <li>l’impôt sur le revenu prélevé à la
                                        source (PAS)</li>
                                    <li>Depuis 2017, la fiche de paie est remise
                                        de façon dématérialisée, sauf refus du
                                        salarié.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingSix">
                            <a class="collapsed" data-bs-toggle="collapse"
                                data-bs-parent="#accordionEx"
                                href="#collapseSix" aria-expanded="false"
                                aria-controls="collapseSix">En matière de
                                rémunération imposable<i
                                    class='bx bx-chevron-down'></i></a>
                        </div>
                        <div id="collapseSix" class="collapse" role="tabpanel"
                            data-bs-parent="#accordionEx">
                            <div class="card-body">
                                <p>À savoir que le bulletin de salaire de
                                    décembre indique le cumul annuel des
                                    montants nets imposables. Vous pouvez en
                                    plus éditer un récapitulatif annuel pour
                                    permettre à vos salariés de remplir ou
                                    vérifier leur déclaration de revenus. Mais
                                    ces documents à eux seuls ne se substituent
                                    pas au contenu du Bilan Social Individuel,
                                    qui comprend beaucoup plus d’informations.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingSeven">
                            <a class="collapsed" data-bs-toggle="collapse"
                                data-bs-parent="#accordionEx"
                                href="#collapseSeven" aria-expanded="false"
                                aria-controls="collapseSeven">Pourquoi rédiger
                                un bilan social individuel, alors que ce n’est
                                pas une obligation légale ?<i
                                    class='bx bx-chevron-down'></i></a>
                        </div>
                        <div id="collapseSeven" class="collapse" role="tabpanel"
                            data-bs-parent="#accordionEx">
                            <div class="card-body">
                                <p>Ses avantages : un outil interactif de
                                    valorisation et de communication de votre
                                    entreprise
                                    Bien que ce ne soit pas une obligation
                                    légale, cette démarche de transparence
                                    comporte de nombreux avantages pour votre
                                    entreprise. Le BSI est tout d’abord une
                                    bonne source de lisibilité de votre
                                    politique de rémunération.</p>
                                <p>En effet, les salariés n’ont pas toujours une
                                    vision globale de leur rémunération
                                    annuelle. Or, elle est composée de leur
                                    salaire de base bien entendu, mais également
                                    quelquefois de l’intéressement, de primes
                                    d’ancienneté, de chèques vacances, de
                                    tickets restaurant… Sans oublier les
                                    avantages en nature qui représentent un
                                    élément non négligeable du « package
                                    salarial».</p>
                                <p>En ayant une meilleure vision de
                                    l’investissement financier de votre
                                    entreprise, vos collaborateurs se sentent
                                    forcément plus valorisés, et mieux reconnus.
                                    Tout ceci contribue grandement au Bien-être
                                    au travail, une donnée d’autant plus
                                    importante dans ce contexte difficile de
                                    sortie de crise sanitaire.</p>
                                <p>
                                    Grâce à sa dimension pédagogique, le bilan
                                    est aussi un outil de communication interne
                                    et externe particulièrement intéressant
                                    puisqu’il permet de mieux souligner les
                                    efforts financiers de votre entreprise. Ce,
                                    indépendamment des augmentations de salaire,
                                    pas toujours possibles. Vous fédérez ainsi
                                    vos salariés et suscitez leur motivation. En
                                    ce sens, il fait partie des éléments
                                    importants de votre marque employeur.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingEight">
                            <a class="collapsed" data-bs-toggle="collapse"
                                data-bs-parent="#accordionEx"
                                href="#collapseEight" aria-expanded="false"
                                aria-controls="collapseEight">Le Bilan social
                                individuel pour les salariés<i class='bx
                                    bx-chevron-down'></i></a>
                        </div>
                        <div id="collapseEight" class="collapse" role="tabpanel"
                            data-bs-parent="#accordionEx">
                            <div class="card-body">
                                <p>D’ailleurs, un collaborateur qui songe à
                                    quitter votre entreprise pourra aussi
                                    l’utiliser pour comparer les offres de
                                    potentiels employeurs… pas forcément plus
                                    attrayantes dès lors qu’il prendra en compte
                                    l’ensemble de sa rémunération et de ses
                                    avantages.</p>
                                <p>En outre, le bilan vous permet de vous
                                    appuyer sur un support objectif lors de vos
                                    échanges avec vos salariés, quel qu’en soit
                                    le motif : une promotion, une demande
                                    d’augmentation, ou une évaluation. C’est un
                                    outil précieux.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-lg-12 col-md-12 mt-5 mb-5">
                <div class="faq-accordion" id="accordionEx" role="tablist"
                    aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingNine">
                            <a data-bs-toggle="collapse"
                                data-bs-parent="#accordionEx"
                                href="#collapseNine" aria-expanded="false"
                                aria-controls="collapseNine">Comment réaliser un
                                bilan social individuel ?<i class='bx
                                    bx-chevron-down'></i></a>
                        </div>
                        <div id="collapseNine" class="collapse"
                            role="tabpanel" data-bs-parent="#accordionEx">
                            <div class="card-body">
                                <p>Tout d’abord, vous devez déterminer le
                                    contenu du bilan. Il n’existe pas de modèle
                                    type, chaque entreprise doit donc définir le
                                    sien.</p>
                                <p>Étant donné qu’il récapitule l’ensemble des
                                    salaires et avantages de chacun de vos
                                    salariés, il contient au minimum :</p>
                                <ul>
                                    <li>Le montant du salaire de base</li>
                                    <li>Les éléments de rémunération variables
                                        et les primes</li>
                                    <li>Les cotisations sociales</li>
                                    <li>Les avantages en nature : repas,
                                        véhicule, crèche…</li>
                                    <li>Les dispositifs en matière d’épargne
                                        salariale : intéressement,
                                        participation, plan épargne retraite…</li>
                                    <li>Les contrats de protection sociale :
                                        mutuelle, prévoyance</li>
                                    <li>Les montants disponible au compte CPF
                                        (compte personnel de formation) du
                                        salarié et le récapitulatif des
                                        formations qu’il a suivi</li>
                                    <li>Le nombre de congés pris et disponibles
                                        et ses jours de RTT</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTen">
                            <a class="collapsed" data-bs-toggle="collapse"
                                data-bs-parent="#accordionEx"
                                href="#collapseTen" aria-expanded="false"
                                aria-controls="collapseTen">Comment mettre en
                                place un bilan social individuel ?<i
                                    class='bx bx-chevron-down'></i></a>
                        </div>
                        <div id="collapseTen" class="collapse" role="tabpanel"
                            data-bs-parent="#accordionEx">
                            <div class="card-body">
                                <p>Sa mise en place nécessite une méthodologie
                                    claire pour élaborer chaque bilan social
                                    individualisé :</p>
                                <ul>
                                    <li>Qui va les rédiger ? Votre service RH ou
                                        un prestataire externe</li>
                                    <li>Comment ? Les outils à utiliser pour
                                        récupérer et mettre en forme les données
                                        : Excel ou un logiciel RH… Intégrez des
                                        graphiques pour rendre le document
                                        compréhensible</li>
                                    <li>Quand ? La date à laquelle vous allez le
                                        remettre à vos salariés</li>
                                    <li>Sur quel support communiquer le bilan
                                        social individuel ?
                                        Enfin, il faudra choisir le support et
                                        les modalités de communication du Bilan.
                                        Vous pouvez l’éditer en format papier,
                                        dématérialisé ou même combiner les deux.
                                        Le Bilan Social Individuel peut être
                                        transmis à plusieurs occasions :
                                        En amont de l’entretien annuel.
                                        Dans le cadre des négociations annuelles
                                        de salaire.
                                        Au moment de l’embauche, avec d’autres
                                        documents comportant des informations
                                        sur l’entreprise (les données seront
                                        alors prévisionnelles).
                                        À vous d’adapter l’élaboration et la
                                        communication du Bsi à votre
                                        organisation et à vos besoins.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingEleven">
                            <a class="collapsed" data-bs-toggle="collapse"
                                data-bs-parent="#accordionEx"
                                href="#collapseEleven" aria-expanded="false"
                                aria-controls="collapseEleven">Quelles sont les
                                limites du bilan social individuel ?<i
                                    class='bx bx-chevron-down'></i></a>
                        </div>
                        <div id="collapseEleven" class="collapse"
                            role="tabpanel"
                            data-bs-parent="#accordionEx">
                            <div class="card-body">
                                <p>Points d’attention et coût du bilan social
                                    individuel
                                    Malgré toutes ses qualités, la nature même
                                    du BSI peut le rendre délicat. Tout ce qui
                                    touche à la rémunération des salariés
                                    comporte en effet une dimension
                                    particulièrement sensible. De même, les
                                    ressources humaines que vous allez mobiliser
                                    ont forcément un cout.</p>
                                <p>De ce fait, prévoyez la supervision de toutes
                                    les données inclues dans le BSI pour éviter
                                    les erreurs. Même avec une méthodologie
                                    clairement définie, ne sous-estimez pas le
                                    temps que prendra l’élaboration et le
                                    contrôle de chacun des bilans.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTweleve">
                            <a class="collapsed" data-bs-toggle="collapse"
                                data-bs-parent="#accordionEx"
                                href="#collapseTweleve" aria-expanded="false"
                                aria-controls="collapseTweleve">Les facteurs de
                                Bien être au travail<i class='bx
                                    bx-chevron-down'></i></a>
                        </div>
                        <div id="collapseTweleve" class="collapse"
                            role="tabpanel"
                            data-bs-parent="#accordionEx">
                            <div class="card-body">
                                <p>Par ailleurs, n’oubliez pas que le Bilan
                                    reste un outil de communication. Si vous
                                    l’utilisez lors d’un entretien
                                    professionnel, considérez-le comme ce qu’il
                                    est : un support. Certes, la rémunération
                                    globale est un élément central de la
                                    motivation des salariés, mais il ne doit pas
                                    effacer les autres aspects de la relation de
                                    travail et de la vie de l’entreprise.</p>
                                <p>Nature des projets, mode de management,
                                    conditions de travail, cohésion des
                                    équipes…sont autant de facteurs à prendre en
                                    compte au moment de faire le point avec vos
                                    collaborateurs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="section-title mt-3">
                <a>L’essentiel à retenir</a>
                <div class="bar"></div>
            </div>
            <p class="qsn">Élément clé pris en charge par la Direction des
                ressources humaines, le bilan social individuel apporte une
                information claire à vos salariés en ce qui concerne votre
                politique de rémunération. Pour votre entreprise, c’est un outil
                de communication qui permet de valoriser vos actions et de se
                démarquer des autres employeurs.</p>
        </div>
    </div>
</section>
