.page-title-content a{
    font-family:Montserrat !important;
    font-size: 40px;
    color: white;
}

.actualite-title{
    font-family:Montserrat !important;
    font-size: 25px;
    color: black;
}

.circulaire {
    border-radius: 25px;
}
.item-bg-1 {
    background-image: url(../../../../assets/img/home-one/home3.webP);
}
