<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <a>Internalisation de la paie</a>
                    <ul>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="faq-section ptb-100">
    <div class="container qsn">
        <div class="section-title">
            <a>Une solution moderne et sécurisante pour les organisations qui
                souhaitent maintenir la gestion de la paie en interne.</a>
            <div class="bar"></div>
        </div>
        <p>Dans cette phase de co-production avec LEA Conseil, nous définissions
            ensemble le « qui fait quoi » autour de la fonction paie. Ainsi vous
            pouvez conserver la maîtrise complète du traitement de vos bulletins
            de paie, nous vous garantissons un environnement logiciel en totale
            conformité avec les dispositions légales et votre convention
            collective. Nous mettons à votre disposition notre expertise, nos
            process de contrôle et notre accompagnement complet. Vous gérez vos
            fiches de paie en ligne, nous vous sécurisons sur le même principe
            que l’externalisation de la paie.</p>
        <hr>
        <div class="section-title mt-5">
            <a>Rompre avec l’isolement du gestionnaire de paie</a>
            <div class="bar"></div>
        </div>
        <p>
            Focalisez-vous sur vos objectifs prioritaires, gagnez du temps et de
            l’énergie en confiant l’externalisation de vos bulletins de paie à
            nos experts.
            Nos solutions sur mesure s’adaptent à votre contexte pour vous
            permettre de gagner en efficacité, en sérénité et réactivité.
        </p>
        <hr>
        <div class="section-title mt-5">
            <a>Une paie co-produite</a>
            <div class="bar"></div>
        </div>
        <p>
            Vous établissez en autonomie vos bulletins tous les mois sur un
            logiciel de gestion de paie très performant et fonctionnel. Nous
            gérons pour votre compte les impacts des évolutions de la
            législation sociale et conventionnelle. Nous déterminons ensemble la
            répartition des tâches sur les autres traitements annexes à la paie.
        </p>
    </div>
</section>
