<div class="navbar-area">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand mr-5" routerLink="/">
                <img src="../../../../assets/img/logo.webp">
            </a>
            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a routerLink="/" class="nav-link">Accueil</a>
                    </li>
                    <li class="nav-item" data-bs-toggle="collapse"
                        data-target=".navbar-collapse.show"><a
                            routerLink="/lecabinet" class="nav-link"
                            routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                            true}">Le cabinet</a></li>

                    <li class="nav-item"><a
                            class="nav-link">Services <i class='bx
                                bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" data-bs-toggle="collapse"
                                data-target=".navbar-collapse.show"><a
                                    routerLink="/ExternalisationPaie" class="nav-link"
                                    routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                                    true}">Externalisation de la paie</a></li>
                            <li class="nav-item" data-bs-toggle="collapse"
                                data-target=".navbar-collapse.show"><a
                                    routerLink="/InternalisationPaie" class="nav-link"
                                    routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                                    true}">Internalisation de la paie</a></li>
                            <li class="nav-item" data-bs-toggle="collapse"
                                data-target=".navbar-collapse.show"><a
                                    routerLink="/Audit"
                                    class="nav-link"
                                    routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                                    true}">Audit</a></li>
                            <li class="nav-item" data-bs-toggle="collapse"
                                data-target=".navbar-collapse.show"><a
                                    routerLink="/BilanSocial"
                                    class="nav-link"
                                    routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                                    true}">Bilan social</a></li>
                            <li class="nav-item" data-bs-toggle="collapse"
                                data-target=".navbar-collapse.show"><a
                                    routerLink="/SousTraitance"
                                    class="nav-link"
                                    routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                                    true}">Sous-traitance expert-comptable</a></li>
                            <li class="nav-item" data-bs-toggle="collapse"
                                data-target=".navbar-collapse.show"><a
                                    routerLink="/SIRH"
                                    class="nav-link"
                                    routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                                    true}">Accompagnement de la mise en place
                                    SIRH
                                </a></li>
                        </ul>
                    </li>
                    <li class="nav-item" data-bs-toggle="collapse"
                        data-target=".navbar-collapse.show"><a
                            routerLink="/actualités" class="nav-link"
                            routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                            true}">Actualités</a></li>

                    <li class="nav-item" data-bs-toggle="collapse"
                        data-target=".navbar-collapse.show"><a
                            routerLink="/nosoffres" class="nav-link"
                            routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                            true}">Nos offres</a></li>

                    <li class="nav-item" data-bs-toggle="collapse"
                        data-target=".navbar-collapse.show"><a
                            routerLink="/Devis" class="nav-link"
                            routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                            true}">Devis</a></li>

                    <li class="nav-item" data-bs-toggle="collapse"
                        data-target=".navbar-collapse.show"><a
                            routerLink="/contact" class="nav-link"
                            routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                            true}">Contact</a></li>
                </ul>
                <div class="others-options">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="single-footer-widget">
                        <ul class="footer-social">
                            <li><a href="https://www.facebook.com/profile.php?id=100092676222999" target="_blank"><i class="flaticon-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/lea_conseil/" target="_blank"><i class="flaticon-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/93258769/admin/" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/LEAConseilFR" target="_blank"><i class="flaticon-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
