<div class="navbar-area">
    <div class="container ">
        <nav class="navbar navbar-expand-md navbar-light mx-auto">
            <a class="navbar-brand mr-5" routerLink="/">
                <img src="../../../../assets/img/logo.jpeg" width="80" height="20">
            </a>
            <button class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a routerLink="/" class="nav-link">Accueil</a>
                    </li>
                    <li class="nav-item" data-bs-toggle="collapse"
                        data-target=".navbar-collapse.show"><a
                            routerLink="/lecabinet" class="nav-link"
                            routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                            true}">Instruction<i class='bx
                            bx-chevron-down'></i></a></li>

                    <li class="nav-item"><a
                            class="nav-link">Handicap <i class='bx
                                bx-chevron-down'></i></a>
                        <ul class="dropdown-menu">
                            <li class="nav-item" data-bs-toggle="collapse"
                                data-target=".navbar-collapse.show"><a
                                    routerLink="/ExternalisationPaie" class="nav-link"
                                    routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                                    true}">Externalisation de la paie</a></li>
                            <li class="nav-item" data-bs-toggle="collapse"
                                data-target=".navbar-collapse.show"><a
                                    routerLink="/InternalisationPaie" class="nav-link"
                                    routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                                    true}">Internalisation de la paie</a></li>
                            <li class="nav-item" data-bs-toggle="collapse"
                                data-target=".navbar-collapse.show"><a
                                    routerLink="/Audit"
                                    class="nav-link"
                                    routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                                    true}">Audit</a></li>
                            <li class="nav-item" data-bs-toggle="collapse"
                                data-target=".navbar-collapse.show"><a
                                    routerLink="/BilanSocial"
                                    class="nav-link"
                                    routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                                    true}">Bilan social</a></li>
                            <li class="nav-item" data-bs-toggle="collapse"
                                data-target=".navbar-collapse.show"><a
                                    routerLink="/SousTraitance"
                                    class="nav-link"
                                    routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                                    true}">Sous-traitance expert-comptable</a></li>
                            <li class="nav-item" data-bs-toggle="collapse"
                                data-target=".navbar-collapse.show"><a
                                    routerLink="/SIRH"
                                    class="nav-link"
                                    routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                                    true}">Accompagnement de la mise en place
                                    SIRH
                                </a></li>
                        </ul>
                    </li>
                    <li class="nav-item" data-bs-toggle="collapse"
                        data-target=".navbar-collapse.show"><a
                            routerLink="/actualités" class="nav-link"
                            routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                            true}">Harcèlement<i class='bx
                            bx-chevron-down'></i></a></li>

                    <li class="nav-item" data-bs-toggle="collapse"
                        data-target=".navbar-collapse.show"><a
                            routerLink="/nosoffres" class="nav-link"
                            routerLinkActive="active"[routerLinkActiveOptions]="{exact:
                            true}">Protection de l'enfance<i class='bx
                            bx-chevron-down'></i></a></li>
                
                </ul>           
            </div>
        </nav>
    </div>
</div>
