.logo{
    color: #0060A1;
    font-size: 25px;
}
.footer-social {
    list-style: none; /* Supprime les puces de la liste */
    display: flex; /* Utilise un affichage flex pour aligner les éléments en ligne */
    align-items: center; /* Aligne les éléments verticalement au centre */
    gap: 10px; /* Ajoute un espace de 10px entre les icônes */
}

.footer-social li {
    margin: 0; /* Supprime les marges par défaut des éléments li */
}
