.page-title-content a{
    font-family:Montserrat !important;
    font-size: 40px;
    color: white;
}

.section-title a{
    font-family:Montserrat !important;
    font-size: 40px;
    color: black;
}
.main-banner-content p{
    font-family:Montserrat !important;
    font-size: 25px;
    color: white;
}
.tr-gras {
    font-family:Montserrat !important;
    font-size: 40px !important;
    color: white;
}
.item-bg-1 {
    background-image: url(../../../../assets/img/home-one/home3.webP);
}

.titre a {
    font-family:Montserrat !important;
    font-size: 20px !important;
    color: black;
}
