<app-navbar-one></app-navbar-one>

<div class="main-banner-area">
    <div class="home-sliders owl-carousel owl-theme">
        <div class="home-item item-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">
                            <p class="tr-gras">LEA CONSEIL</p>
                            <p>Cabinet d’externalisation de la paie et des
                                ressources humaines</p>
                            <div class="banner-btn">
                                <a routerLink="/lecabinet" class="default-btn">En
                                    Savoir plus</a>
                                <a routerLink="/contact" class="default-btn">Contactez
                                    nous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-item item-bg2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">
                            <p class="tr-gras">L'experiénce paie toujours !</p>
                            <p>Optimisez vos process digitalsez votre paie,mais plus que jamais profitez de notre accompagnement complet dans ce domaine ou l'expérience est indispensable afin de sécuriser votre paie et votre gestion sociale.</p>
                            <div class="banner-btn">
                                <a routerLink="/lecabinet" class="default-btn">En
                                    Savoir plus</a>
                                <a routerLink="/contact" class="default-btn">Contactez
                                    nous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-item item-bg3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">
                            <p class="tr-gras">Sous-traitance pour les experts comptables</p>
                            <p></p>
                            <div class="banner-btn">
                                <a routerLink="/SousTraitance" class="default-btn">En
                                    Savoir plus</a>
                                <a routerLink="/contact" class="default-btn">Contactez
                                    nous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="features-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <a><span>LEA CONSEIL </span>est un cabinet conseil en paie et RH
                spécialisé dans l'externalisation de la paie.</a>
            <div class="bar"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="features-content titre">
                    <div class="icon">
                        <i class="flaticon-happy"></i>
                    </div><br>
                    <a>Un interlocuteur dédié </a>
                    <p>La gestion de votre paie est assurée par un interlocuteur
                        dédié à votre dossier qui reste disponible à tout moment
                        pour traiter vos demandes.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="features-content titre">
                    <div class="icon">
                        <i class="flaticon-project-management"></i>
                    </div><br>
                    <a>Savoir-faire</a>
                    <p>Nous sommes dotés d'une expertise dans la gestion de la
                        paie et de tous les éléments indispensables à la gestion
                        administrative des salariés.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="features-content titre">
                    <div class="icon">
                        <i class="flaticon-technical-support"></i>
                    </div><br>
                    <a>Suivi et conseil</a>
                    <p>Nous réalisons une veille juridique quotidienne pour
                        suivre l'actualité en droit social et en droit du
                        travail afin de vous conseiller au mieux.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services-section bg-color pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <a><span>Nos expertises</span></a>
            <p></p>
            <div class="bar"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box titre" type="button" routerLink="/ExternalisationPaie" >
                    <div class="icon">
                        <i class="bx bx-selection"></i>
                    </div><br><br>
                    <a>Externalisation de la paie</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box titre" type="button" routerLink="/InternalisationPaie">
                    <div class="icon bg-84b7fd">
                        <i class="flaticon-internet"></i>
                    </div><br><br>
                    <a>Internalisation de la paie</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="single-services-box titre" type="button" routerLink="/Audit">
                    <div class="icon bg-79e8e2">
                        <i class="flaticon-report"></i>
                    </div><br><br>
                    <a>Audit</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="single-services-box titre" type="button" routerLink="/BilanSocial">
                    <div class="icon bg-79e8e2">
                        <i class="flaticon-data"></i>
                    </div><br><br>
                    <a>Bilan social</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-services-box titre"  type="button" routerLink="/SousTraitance">
                    <div class="icon bg-deb0fe">
                        <i class="flaticon-quality"></i>
                    </div><br><br>
                    <a>Sous-traitance pour les cabinets d'experts comptables</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-services-box titre" type="button" routerLink="/SIRH">
                    <div class="icon bg-fe929f">
                        <i class="flaticon-technical-support"></i>
                    </div><br><br>
                    <a>Accompagnement de la mise en place SIRH</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="choose-section ptb-100">
    <div class="container">
        <div class="section-title">
            <a><span>LEA CONSEIL</span> Pourquoi ?</a>
            <div class="bar"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="choose-content">
                    <div class="icon">
                        <i class="bx bx-timer"></i>
                    </div>
                    <h3>Gagnez du temps</h3>
                    <p>Nous couvrons l'ensemble des processus, de la collecte
                        des données RH à l'élaboration des fiches de paie et aux
                        déclarations. Ceci vous fera donc gagner en sérénité et
                        en temps.</p>
                </div>
                <div class="choose-content">
                    <div class="icon">
                        <i class="bx bx-target-lock"></i>
                    </div>
                    <h3>Concentrez vous sur l'essentiel</h3>
                    <p>Vous êtes libéré(e) des contraintes de la gestion et de
                        la complexité des charges sociales pour vous concentrer
                        sur le coeur de votre métier ainsi qu'au développement
                        de votre entreprise.</p>
                </div>
                <div class="choose-content">
                    <div class="icon">
                        <i class="bx bx-book-bookmark"></i>
                    </div>
                    <h3>Respectez la loi</h3>
                    <p>Vous serez conforme aux règles et obligations légales qui
                        évoluent constamment. Ainsi, vous évitez les erreurs
                        préjudiciables à votre entreprise.</p>
                </div>
                <div class="choose-content">
                    <div class="icon">
                        <i class="flaticon-target"></i>
                    </div>
                    <h3>Bénéficiez de conseils</h3>
                    <p>Vous êtes conseillé en droit du travail par des experts
                        et suivis régulièrement par un gestionnaire des RH qui
                        connaît votre métier et ses spécificités réglementaires.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="choose-image">
                    <img src="assets/img/choose.webp" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>


