<app-navbar-one></app-navbar-one>

<div class="main-banner-area">
    <div class="home-sliders owl-carousel owl-theme">
        <div class="home-item item-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">
                            <p class="tr-gras">Instruction</p>
                            <p>Nous proposons aux familles une aide complète comprenant des informations sur leurs droits et devoirs, ainsi que des conseils sur les projets de loi et décrets.
                                  </p>
                            <div class="banner-btn">
                                <a routerLink="/lecabinet" class="default-btn">En
                                    Savoir plus</a>
                                 <!-- <a routerLink="/contact" class="default-btn">Contactez
                                    nous</a>  --> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-item item-bg2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">
                            <p class="tr-gras">Handicap</p>
                            <p>Nous offrons un soutien complet aux familles en situation de handicap, 
                                en les informant de leurs droits et devoirs, ainsi que des évolutions légales.</p>
                            <div class="banner-btn">
                                <a routerLink="/lecabinet" class="default-btn">En
                                    Savoir plus</a>
                               <!-- <a routerLink="/contact" class="default-btn">Contactez
                                    nous</a>  --> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-item item-bg3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">
                            <p class="tr-gras">Harcèlement</p>
                            <p>Nous luttons contre le harcèlement en informant les familles de leurs droits et 
                                en défendant les intérêts de l'enfant et la famille devant la justice.</p>
                            <div class="banner-btn">
                                <a routerLink="/SousTraitance" class="default-btn">En
                                    Savoir plus</a>
                               <!-- <a routerLink="/contact" class="default-btn">Contactez
                                    nous</a>  --> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-item item-bg4">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-content">
                            <p class="tr-gras">Protection de l'enfance</p>
                            <p> Protégeant les droits et intérêts de l'enfance, nous accompagnons les familles avec des
                                 conseils éclairés sur les lois et décrets, et nous agissons en justice avec détermination.</p>
                            <div class="banner-btn">
                                <a routerLink="/lecabinet" class="default-btn">En
                                    Savoir plus</a>
                                 <!-- <a routerLink="/contact" class="default-btn">Contactez
                                    nous</a>  --> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="services-section  pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <a><span>Présentation de l'association</span></a>
            <p></p>
            <div class="bar"></div>
        </div>
        <div class="row">
            <div class="col-lg- col-md-">
                <div class="single-services-box titre"  type="button" routerLink="/SousTraitance">
                    <div class="icon bg-deb0fe">
                        <i class="flaticon-quality"></i>
                    </div><br><br>
                    <a>Histoire de l'association</a>
                    <p>L'association "Coeur d'Enfant" a été fondée en 2005 par un groupe de passionnés qui avaient pour objectif de venir en aide aux enfants défavorisés et à leur famille. Leur vision était de créer un environnement sûr et stimulant pour les enfants, en veillant à ce qu'ils reçoivent les soins, l'éducation et l'amour dont ils ont besoin pour s'épanouir.

                        Depuis sa création, l'association "Coeur d'Enfant" s'est engagée à fournir une variété de services et de programmes pour soutenir les enfants dans le besoin. Ces services comprennent une aide alimentaire, un soutien médical et éducatif, ainsi que des activités récréatives et éducatives.
                        
                        Au fil des années, l'association a étendu son champ d'action et s'est impliquée dans des projets communautaires visant à améliorer les conditions de vie des familles défavorisées. Elle a également mis en place des programmes de sensibilisation pour lutter contre la violence, la discrimination et l'exploitation des enfants.
                        
              </div>
            </div>
            <div class="col-lg-6 col-md-6  custom-height">
                <div class="single-services-box titre"  type="button" routerLink="/SousTraitance">
                    <div class="icon bg-deb0fe">
                        <i class="flaticon-quality"></i>
                    </div><br><br>
                    <a>Mot de la présidente</a>
                    <p>C'est avec une immense fierté et une profonde gratitude que je m'adresse à vous en tant que présidente de notre cher "Coeur d'Enfant". Depuis notre création il y a plusieurs années, nous avons été témoins de l'impact positif que notre engagement a eu sur la vie des enfants défavorisés et de leur famille.

                        Ensemble, accompli des projets et apporté l'espoir et le sourire à de nombreux visages. Chaque jour, nous sommes inspirés par la détermination et la résilience des enfants que nous soutenons, et cela nous motive à poursuivre notre mission avec encore plus de passion.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 custom-height">
                <div class="single-services-box titre" type="button" routerLink="/SIRH">
                    <div class="icon bg-fe929f">
                        <i class="flaticon-technical-support"></i>
                    </div><br><br>
                    <a>Mot des avocats</a>
                    <p>En tant qu'avocats engagés auprès de cette noble   cause, nous tenons à exprimer toute notre reconnaissance et notre dévouement envers cette belle initiative. Depuis que nous avons rejoint "Coeur d'Enfant", nous avons été profondément touchés par la mission que nous accomplissons ensemble.

                        Notre rôle au sein de cette association va bien au-delà de simples conseils juridiques. Nous avons la chance et le privilège de contribuer à la défense des droits des enfants et de leur famille, en veillant à ce que leur voix soit entendue et leur dignité préservée.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="choose-section ptb-100">
    <div class="container">
        <div class="section-title">
            <a><span></span> Charte des valeurs</a>
            <div class="bar"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="choose-content">
                    <div class="icon">
                        <i class="bx bx-timer"></i>
                    </div>
                    <h3>Gagnez du temps</h3>
                    <p>Nous couvrons l'ensemble des processus, de la collecte
                        des données RH à l'élaboration des fiches de paie et aux
                        déclarations. Ceci vous fera donc gagner en sérénité et
                        en temps.</p>
                </div>
                <div class="choose-content">
                    <div class="icon">
                        <i class="bx bx-target-lock"></i>
                    </div>
                    <h3>Concentrez vous sur l'essentiel</h3>
                    <p>Vous êtes libéré(e) des contraintes de la gestion et de
                        la complexité des charges sociales pour vous concentrer
                        sur le coeur de votre métier ainsi qu'au développement
                        de votre entreprise.</p>
                </div>
              
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="choose-content">
                    <div class="icon">
                        <i class="bx bx-book-bookmark"></i>
                    </div>
                    <h3>Respectez la loi</h3>
                    <p>Vous serez conforme aux règles et obligations légales qui
                        évoluent constamment. Ainsi, vous évitez les erreurs
                        préjudiciables à votre entreprise.</p>
                </div>
                <div class="choose-content">
                    <div class="icon">
                        <i class="flaticon-target"></i>
                    </div>
                    <h3>Bénéficiez de conseils</h3>
                    <p>Vous êtes conseillé en droit du travail par des experts
                        et suivis régulièrement par un gestionnaire des RH qui
                        connaît votre métier et ses spécificités réglementaires.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <a><span></span> Règlement intérieur</a>
            <div class="bar"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="features-content titre">
                    <div class="icon">
                        <i class="flaticon-happy"></i>
                    </div><br>
                    <a>Adhésion</a>
                    <p>LPour devenir membre de l'Association, toute personne physique ou morale doit adhérer aux statuts de
                         l'association et s'acquitter de la cotisation annuelle fixée par l'Assemblée Générale.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="features-content titre">
                    <div class="icon">
                        <i class="flaticon-project-management"></i>
                    </div><br>
                    <a>Droits et Devoirs des Membres</a>
                    <p>Les membres s'engagent à respecter les décisions prises collectivement, 
                        à contribuer activement aux projets de l'association, 
                        et à préserver une attitude respectueuse envers les autres membres.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="features-content titre">
                    <div class="icon">
                        <i class="flaticon-technical-support"></i>
                    </div><br>
                    <a>Réunions et Communication</a>
                    <p>Des réunions régulières seront organisées par le Bureau pour discuter des activités en cours et 
                        à venir de l'association. Les membres seront informés des réunions et des projets par voie électronique.</p>
                </div>
            </div>
        </div>
    </div>
</section>






