
<app-navbar-one></app-navbar-one>
    
    

<div class="page-title-area item-bg-1">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container">
              <div class="page-title-content">
                  <a>PPRE - PPS - Le PAP</a>
                  <ul>
                      <li></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<main>




  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row ">
      <div class="col-lg-4">
        <img class="kll" src="https://www.onisep.fr/var/onisep/storage/images/_aliases/dso_grid_12_columns/media/images/handicap/les-demarches/projet-de-scolarisation/ppre/31251241-1-fre-FR/PPRE.jpg.webp" alt="">
       
        <h2 class="fw-normal">PPRE </h2>
        <p></p>
        <div class="bar"></div>
        <p>Programme personnalisé de réussite éducative</p>
        <p><a class="btn btn-secondary" href="#">
Voir les détails &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="kll" src="../../assets/PPRE.jpg" alt="" >
        <h2 class="fw-normal"> PPS </h2>
        <p></p>
        <div class="bar "></div>
        <p>Projet personnalisé de scolarisatio</p>
        <p><a class="btn btn-secondary " href="#">
Voir les détails &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 ">
        <img src="../../assets/pan-xiaozhen-423533-unsplash-2.jpg" alt="" class="kll">
        <h2 class="fw-normal">Le PAP</h2>
        <p></p>
        <div class="bar"></div>
        <p>Plan d’accompagnement personnalisé.</p>
        <p><a class="btn btn-secondary" href="#">
Voir les détails &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette ">
      <div class="col-md-7 ">
        <h3 class="featurette-heading fw-normal lh-1 ">PPRE Projet Personnalisé de Réussite Éducative: 
          <span class="text-body-secondary"></span></h3>
        <p class="lead ">Cette mesure d'accompagnement peut être mise en place tout au long de l'année par l'équipe pédagogique. 

          C'est un plan d'action pour permettre la maîtrise suffisante du socle commun. 
          
         <br> Le PPRE prévoit également un mode d'évaluation des progrès de votre enfant.
          
          Il se concentre essentiellement sur le français et les mathématiques.
          <br>
          
          Au collège vous pouvez le demander pour la LV1.
          <br>Des informations précises doivent apparaitre sur celui-ci. Le document doit notamment préciser les informations suivantes :

          Identité et classe de l'élève/
          
          Compétences à travailler
          
         /Objectifs à atteindre
          
          /Membres de la communauté éducative impliqués
          
          /Période de mise en œuvre du PPRE
          Participation de personnes extérieures, notamment si un suivi médical est mis en place (orthophoniste, psychologue)
          
          /Mise en place de partenariats (soutien scolaire en lien avec la municipalité ou les associations, dispositifs de réussite éducative)
          
          Après l'élaboration de celui-ci, l'équipe le présente aux parents et à l'élève. <br>
          
          Cependant l'accord des parents pour celui-ci n'est pas obligatoire mais fortement recommandé pour faciliter la communication avec l'équipe.</p>
      </div>
      <div class="col-md-5" style="margin-top: 100px;">
        <img class="kl choose-content" src="https://www.onisep.fr/var/onisep/storage/images/_aliases/dso_grid_12_columns/media/images/handicap/les-demarches/projet-de-scolarisation/ppre/31251241-1-fre-FR/PPRE.jpg.webp" alt="" width="500px" height="700px">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h3 class="featurette-heading fw-normal lh-1">Le PPS Projet Personnalisé Scolarisation <span class="text-body-secondary"></span></h3>
        <p class="lead">Votre enfant est scolarisé et à besoin d aménagement pédagogique, besoin de matériel voir même d accompagnement. 

          Il est aussi mis en place par la CDAPH (commission des droits et de l'autonomie des personnes handicapées ) pour les enfants reconnues porteur de handicap.
           <br>
          La demande ensuite est faites soit par écrit soit en ligne auprès de la MDPH. 
          
          Par la suite équipe pluridisciplinaire se réunis et élabore le PPS. <br>
          
          Après avoir été élaboré le PPS est remis ; 
          <br>
          - aux parents et à l enfant si il est majeur <br>
          ,- directeur et enseignants <br>
          - l enseignants référant </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../assets/PPRE.jpg " alt="" class="ll choose-content">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h3 class="featurette-heading fw-normal lh-1">Le PAP <span class="text-body-secondary"></span></h3>
        <p class="lead">Le PAP est né d'une volonté des associations d'enfants dys pour avoir des aménagements plus souples et plus rapides que le PPS qui, lui, passe obligatoirement par la MDPH. <br>

          Le PAP peut être mis en place à la demande des enseignants ou des parents, sous la responsabilité du directeur école ou du collège.  <br>
          
          Quant au médecin, il joue un rôle primordial puisque le PAP  ne peut être mis en place qu'avec son diagnostique et ses préconisations. <br>
          
          Le PAP permet à l'élève, comme le PPS,  de bénéficier des aménagements aux examens. </p>
      </div>
      <div class="col-md-5">
        <img src="../../assets/pan-xiaozhen-423533-unsplash-2.jpg" alt="" class="ll choose-content">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>
  <!-- /.container -->


 
</main>


