<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <a> Nos offres</a>
                    <ul>
                        <li>Choisissez l'offre la plus adaptée à vos besoins</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="pricing-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <a>Comparatif de <span>nos offres</span></a>
            <div class="bar"></div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-pricing">
                    <div class="pricing-header">
                        <h3>Offre Internalisation</h3>
                        <p></p>
                    </div>
                    <br>
                    <ul class="pricing-list">
                        <li><i class="flaticon-checked"></i>Mise à disposition</li>
                        <li><i class="flaticon-checked"></i>Parametrage du logiciel</li>
                        <li><i class="flaticon-checked"></i>Formation</li>
                        <li><i class="flaticon-checked"></i>Support</li>
                        <li><i class="flaticon-checked"></i>Conseil en droit du travail</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-pricing">
                    <div class="pricing-header">
                        <h3>Offre Basic</h3>
                        <p></p>
                    </div>
                    <br>
                    <ul class="pricing-list">
                        <li><i class="flaticon-checked"></i>Bulletins de paie</li>
                        <li><i class="flaticon-checked"></i>Gestion des absences/congés</li>
                        <li><i class="flaticon-checked"></i>Déclarations Sociales Nominatives</li>
                        <li><i class="flaticon-checked"></i>Création dossier & nouveau salarié</li>
                        <li><i class="flaticon-checked"></i>DPAE</li>
                        <li><i class="flaticon-checked"></i>Attestation maladie / maternité /paternité</li>
                        <li><i class="flaticon-checked"></i>Conseil en droit du travail</li>
                        <li><i class="flaticon-checked"></i>Formalités de sorties du salarié</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-pricing">
                    <div class="pricing-header">
                        <h3>Offre Premium</h3>
                        <p></p>
                    </div>
                    <br>
                    <ul class="pricing-list">
                        <li><i class="flaticon-checked"></i>L'offre Basic, avec en plus</li>
                        <li><i class="flaticon-checked"></i>Contrat de travail</li>
                        <li><i class="flaticon-checked"></i>SIRH</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-pricing">
                    <div class="pricing-header">
                        <h3>Offre expert comptable</h3>
                        <p></p>
                    </div>
                    <br>
                    <ul class="pricing-list">
                        <li><i class="flaticon-checked"></i>L'offre Premium, avec en plus</li>
                        <li><i class="flaticon-checked"></i>Marque blanche</li>
                        <li><i class="flaticon-checked"></i>États post-paies</li>
                        <li><i class="flaticon-checked"></i>Ventilation analytique</li>
                        <li><i class="flaticon-checked"></i>Préparation des écritures comptables de paie</li>
                        <li><i class="flaticon-checked"></i>Reporting mensuel sur mesure</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
