<app-navbar-one></app-navbar-one>

<div class="page-title-area item-bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <a [hidden]="id!='abandon-de-poste-2023'">Abandon de poste :
                        que dit le droit du travail en 2023 ?</a>
                    <a [hidden]="id!='teletravail-ennui'">Le télétravail
                        évite-t-il l’ennui ?</a>
                    <a [hidden]="id!='teletravail-collegues'">Télétravail :
                        comment est vécue la nouvelle relation entre collègues ?</a>
                    <a [hidden]="id!='chèques-vacances'">Tout ce que vous devez
                        savoir sur les chèques-vacances</a>
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog-section pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12"
                [hidden]="id!='abandon-de-poste-2023'">
                <div class="blog-details-desc">
                    <div class="article-image">
                        <img src="assets/img/blog/abondon.webp" alt="image">
                    </div>
                    <div class="article-content">
                        <div class="entry-meta">
                            <ul>
                                <li><span>Publié le&nbsp;:</span> <a>&nbsp;25
                                        Avril 2023</a></li>
                            </ul>
                        </div>
                        <br>
                        <p>La nouvelle loi travail prévoyait des changements
                            importants concernant l’abandon de poste et les
                            indemnités chômage. Alors que le Conseil
                            Constitutionnel vient de valider cet article,
                            quelques nuances ont été introduites dans son
                            application stricte.</p>
                        <a>Abandon de poste et chômage : quelle était la
                            situation avant 2023 ? </a>
                        <p>L’abandon de poste est qualifié en tant que tel quand
                            l’absence d’un salarié est injustifiée, prolongée,
                            sans que le supérieur hiérarchique n’ait été averti
                            ni n’ait donné son accord et sans indication d’une
                            date de retour.</p>
                        <p>L’abandon de poste sous-entend une démission du
                            salarié et doit alors donner lieu à une procédure de
                            licenciement pour abandon de poste. L’employeur doit
                            donc tout d’abord envoyer une mise en demeure. </p>
                        <p>Puis la procédure de licenciement pour abandon de
                            poste suit le même processus que celui du
                            licenciement pour motif personnel à caractère
                            disciplinaire.</p>
                        <p>* Une convocation (par courrier recommandé avec
                            accusé de réception) à un entretien préalable au
                            licenciement.</p>
                        <p>* Un entretien préalable de licenciement doit être
                            mis en place avec les deux parties.</p>
                        <p>* L’envoi d’une lettre de licenciement pour abandon
                            de poste.</p>
                        <p>Puis le salarié licencié avait la possibilité de
                            demander des indemnités chômage. En effet, l’article
                            L. 5422-1 du Code du travail permet à tous les
                            salariés privés involontairement de leur emploi de
                            toucher le chômage.</p>
                        <p>Le type de licenciement, pour faute grave ou simple,
                            n’ayant pas de conséquence sur le droit au chômage.
                            La seule condition pour déclencher le versement de
                            l’ARE était d’être inscrit dans les 12 mois suivant
                            la fin du contrat de travail comme demandeur
                            d’emploi à Pôle emploi.</p>
                        <hr>
                        <a>L’abandon de poste désormais considéré comme une
                            démission</a>
                        <p>Dans le cadre de la réforme du chômage, un amendement
                            avait provoqué de nombreuses réactions : celui qui
                            considérait les salariés en abandon de poste comme
                            “présumés démissionnaires”.</p>
                        <p>Cet aspect de la loi sur le marché du travail a donc
                            de fortes conséquences sur les salariés concernés.
                            En effet, l’absence prolongée, injustifiée et non
                            validée par le supérieur étant désormais assimilée à
                            une présomption de démission, un salarié qui fait un
                            abandon de poste ne peut plus prétendre aux
                            indemnités chômage.</p>
                        <p>Comme souligné par BFM TV, cette nouvelle application
                            de l’article L. 5422-1 du Code du travail peut ainsi
                            avoir pour effet de priver le salarié concerné de
                            son droit à l’allocation.</p>
                        <a>La présomption de démission jugée légale… mais
                            contestable</a>
                        <p>Saisi par l’opposition, le Conseil Constitutionnel a
                            tout de même validé la loi sur l’abandon de poste en
                            2023. La haute institution a cependant mis en avant
                            les exceptions et les moyens de contestation. </p>
                        <p>Le Conseil Constitutionnel a expliqué que “le salarié
                            ne peut être réputé démissionnaire qu’après avoir
                            été mis en demeure, par son employeur, de justifier
                            d’un tel motif et de reprendre son poste dans un
                            délai déterminé, qui ne peut être inférieur à un
                            minimum fixé par décret en Conseil d’État”.</p>
                        <p>Le législateur a ainsi prévu que la présomption de
                            démission puisse être annulée si l’abandon de poste
                            “a été provoqué par les manquements de l’employeur”
                            (comme du harcèlement).</p>
                        <p>Publication du décret d’application :</p>
                        <p>* Ce mardi 17 avril, le décret n°2023-275 est entré
                            en vigueur, entérinant ainsi la présomption de
                            démission en cas d’abandon de poste.</p>
                        <p>* L’objectif du décret d’application est d’édicter
                            les règles en la matière. Ainsi, un salarié pourra
                            être considéré comme démissionnaire s’il ne justifie
                            pas de son absence ou s’il ne reprend pas son poste
                            dans les 15 jours qui suivent la réception de la
                            lettre de mise en demeure de justification ou de
                            reprise envoyée par son employeur.</p>
                        <p>* Une fois ce délai passé, et si le salarié n’a ni
                            repris ni justifié son absence par le biais d’un
                            motif légitime ou d’un motif faisant obstacle à la
                            mise en œuvre de la procédure de présomption de
                            démission, alors l’employeur sera en droit de mettre
                            fin au contrat de travail du collaborateur sous le
                            régime de la démission par abandon de poste.</p>
                    </div>
                    <div class="article-footer">
                        <div class="article-share">
                            <ul class="social">
                                <li><span>Partager:</span></li>
                                <li><a
                                        href="https://www.facebook.com/sharer/sharer.php?u=http://leaconseil.com/#/Actualité/abandon-de-poste-2023"
                                        target="_blank"><i
                                            class="flaticon-facebook"></i></a></li>
                                <li><a
                                        href="https://twitter.com/intent/tweet?url=http://leaconseil.com/#/Actualité/abandon-de-poste-2023"
                                        target="_blank"><i
                                            class="flaticon-twitter"></i></a></li>
                                <li><a
                                        (click)="shareOnLinkedIn('http://leaconseil.com/#/Actualité/abandon-de-poste-2023')"
                                        target="_blank"><i class="bx
                                            bxl-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12" [hidden]="id!='teletravail-ennui'">
                <div class="blog-details-desc">
                    <div class="article-image">
                        <img src="assets/img/blog/online.webp" alt="image">
                    </div>
                    <div class="article-content">
                        <div class="entry-meta">
                            <ul>
                                <li><span>Publié le&nbsp;:</span> <a>&nbsp;25
                                        Avril 2023</a></li>
                            </ul>
                        </div>
                        <br>
                        <p>Changer de mode, de lieu, d’horaires de travail peut
                            offrir une nouvelle vision sur son poste. Quel a
                            alors été l’impact du télétravail sur l’intérêt que
                            portent les collaborateurs à leur tâches
                            quotidiennes : s’ennuient-ils plus ou moins qu’avant
                            ? </p>
                        <a>Un télétravail qui ne rend pas le travail plus
                            intéréssant</a>
                        <p>Depuis 2019, QAPA, la solution digitale Adecco,
                            interroge les Français sur leur moral au travail. Sa
                            nouvelle enquête montre ainsi les évolutions et
                            changements majeurs en la matière. Et notamment le
                            lien entre télétravail et ennui.</p>
                        <p>On y apprend que, sur leur lieu de travail comme chez
                            eux, les citoyens français semblent manquer de
                            motivation : plus de 79% d’entre eux avouent
                            éprouver de l’ennui lorsqu’ils travaillent à
                            distance, soit une hausse de 17 points par rapport à
                            l’année 2022.</p>
                        <p>Les statistiques détaillées révèlent que 32% des
                            travailleurs ressentent autant d’ennui en présentiel
                            qu’à distance, tandis que 47% en ressentent beaucoup
                            plus. Avec le contexte économique et social actuel,
                            il est difficile pour les Français de voir la vie
                            (au travail) en rose.</p>
                        <p>Plus de 76% des personnes interrogées en mars 2023
                            estiment que leur travail est ennuyeux, soit 5
                            points de plus qu’en 2022 et 13 points de plus qu’en
                            2019.</p>
                        <p>L’ennui n’est pas la seule difficulté rencontrée, les
                            travailleurs français manquent également d’intérêt
                            pour leur profession. En effet, alors qu’en 2019,
                            71% des travailleurs considéraient leur profession
                            comme utile, et 68% en 2022, ils ne sont plus que
                            56% cette année.</p>
                        <hr>
                        <a>Télétravail et ennui : un mal-être qu’on ne cache
                            plus</a>
                        <p>Une majorité de Français se sent profondément
                            malheureux face à cette situation d’ennui au
                            travail. En effet, plus de 63% d’entre eux avouent
                            avoir du mal à supporter l’ennui et le manque
                            d’intérêt au travail. Cette proportion n’a cessé
                            d’augmenter au cours des trois dernières années,
                            passant de 45% à 56%.</p>
                        <p>Contrairement aux années précédentes, de plus en plus
                            de Français déclarent clairement leur lassitude sur
                            leur lieu de travail, même s’ils restent encore
                            minoritaires. Ils sont en effet plus de 21% en 2023
                            contre 9% en 2022 et 10% en 2019.</p>
                        <p>Le constat est le même pour les 52% de personnes
                            interrogées qui avouent en 2023 ne plus faire
                            semblant d’être passionnées par leur travail, alors
                            que cette catégorie ne représentait que 31% en 2022
                            et 38% en 2019.</p>
                        <hr>
                        <a>Des salariés qui préfèreraient moins s’ennuyer que
                            gagner plus</a>
                        <p>Le sentiment d’ennui au travail semble être partagé
                            par de nombreux travailleurs, voire peut-être
                            contagieux… En effet, 78% des Français estiment que
                            leurs collègues éprouvent également de la lassitude.
                            Cette tendance était déjà sensible en 2022 avec 72%
                            et en 2019 avec 69%.</p>
                        <p>Faut-il gagner moins pour travailler mieux ? Les
                            Français ont tranché ! Plus de 56% d’entre eux
                            préfèrent ne pas s’ennuyer au travail, même si cela
                            signifie une baisse de salaire. Ce chiffre dépasse
                            celui de 2019, qui était de 54%, et qui est
                            redescendu à 49% l’année dernière.</p>
                    </div>
                    <div class="article-footer">
                        <div class="article-share">
                            <ul class="social">
                                <li><span>Partager:</span></li>
                                <li><a
                                        href="https://www.facebook.com/sharer/sharer.php?u=http://leaconseil.com/#/Actualité/teletravail-ennui"
                                        target="_blank"><i
                                            class="flaticon-facebook"></i></a></li>
                                <li><a
                                        href="https://twitter.com/intent/tweet?url=http://leaconseil.com/#/Actualité/teletravail-ennui"
                                        target="_blank"><i
                                            class="flaticon-twitter"></i></a></li>
                                <li><a
                                        href="https://www.linkedin.com/shareArticle?url=http://leaconseil.com/#/Actualité/teletravail-ennui"
                                        target="_blank"><i class="bx
                                            bxl-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12"
                [hidden]="id!='teletravail-collegues'">
                <div class="blog-details-desc">
                    <div class="article-image">
                        <img src="assets/img/blog/collegue.webp" alt="image">
                    </div>
                    <div class="article-content">
                        <div class="entry-meta">
                            <ul>
                                <li><span>Publié le&nbsp;:</span> <a>&nbsp;25
                                        Avril 2023</a></li>
                            </ul>
                        </div>
                        <br>
                        <p>Le lien social est d’autant plus important en
                            entreprise qu’il est parfois rompu par le
                            télétravail. Comment les collaborateurs vivent-ils
                            les relations entre collègues à l’ère du travail
                            hybride ? </p>
                        <a>Des collaborateurs toujours connectés à la culture et
                            aux objectifs de leur entreprise…</a>
                        <p>HubSpot, la plateforme de gestion de la relation
                            client (CRM) pour les entreprises en croissance,
                            vient de publier son rapport 2023 sur le travail
                            hybride.</p>
                        <p>Quel que soit leur mode de fonctionnement
                            professionnel (télétravail, au bureau, en travail
                            hybride), les employés se sentent liés à la culture
                            et à la raison d’être de leur entreprise : <br>
                            * 70% se sentent connectés à leur culture
                            d’entreprise.<br>
                            * 69% se sentent connectés aux valeurs de leur
                            entreprise et à sa mission.
                        </p>
                        <p>Travailler hors du bureau semble d’ailleurs renforcer
                            les liens avec l’entreprise puisque 76% de ceux qui
                            sont en full télétravail se sentent connectés à leur
                            entreprise, contre 73% en flex et 66% au bureau.
                        </p>
                        <p>Cependant, cette connection ne se traduit pas par un
                            lien renforcé avec leurs collègues, bien au
                            contraire.</p>
                        <hr>
                        <a>… Mais moins à leurs collègues</a>
                        <p>En moyenne, seuls 34% des collaborateurs, quel que
                            soit leur mode de travail, se sentent encore
                            connectés à leurs collègues. </p>
                        <p>Cela peut paraître anodin, mais cette connexion avec
                            les autres fait partie des éléments de rétention des
                            talents. En effet, 66% des répondants déclarent
                            qu’avoir un ami proche au travail a un impact sur
                            leur intention de rester ou pas dans leur
                            entreprise.</p>
                        <p>Parmi les choses les plus importantes pour rester
                            dans une entreprise, 52% des salariés mettent en
                            avant le fait d’avoir de bonnes relations avec leurs
                            collègues et 48% évoquent une augmentation de
                            salaire.</p>
                        <p>Maintenir le lien social est donc clairement un enjeu
                            majeur de l’avenir du travail hybride, pour les
                            salariés. 33% des employés en travail hybride
                            trouvent que l’établissement de relations et des
                            connexions entre collègues est le plus grand défi à
                            relever pour travailler avec une équipe hybride.</p>
                        <hr>
                        <a>Comment développer au mieux le lien social entre les
                            salariés ?</a>
                        <p>Les collaborateurs sont clairement en demande de plus
                            de lien social au sein de leurs entreprises. Et les
                            solutions commencent dès l’embauche.</p>
                        <p>En effet, les télétravailleurs aimeraient avoir plus
                            d’opportunités de se connecter avec les nouveaux
                            venus lors de leur processus d’intégration, que ce
                            soit en personne (54%) ou virtuellement (38%).</p>
                        <p>43% des répondants aimeraient également voir leur
                            entreprise investir dans plus d’événements de team
                            building afin de favoriser une culture d’entreprise
                            forte.</p>
                    </div>
                    <div class="article-footer">
                        <div class="article-share">
                            <ul class="social">
                                <li><span>Partager:</span></li>
                                <li><a
                                        href="https://www.facebook.com/sharer/sharer.php?u=http://leaconseil.com/#/Actualité/teletravail-collegues"
                                        target="_blank"><i
                                            class="flaticon-facebook"></i></a></li>
                                <li><a
                                        href="https://twitter.com/intent/tweet?url=http://leaconseil.com/#/Actualité/teletravail-collegues"
                                        target="_blank"><i
                                            class="flaticon-twitter"></i></a></li>
                                <li><a
                                        href="https://www.linkedin.com/shareArticle?url=http://leaconseil.com/#/Actualité/teletravail-collegues"
                                        target="_blank"><i class="bx
                                            bxl-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12"
                [hidden]="id!='chèques-vacances'">
                <div class="blog-details-desc">
                    <div class="article-image">
                        <img src="assets/img/blog/vacances.webp" alt="image">
                    </div>
                    <div class="article-content">
                        <div class="entry-meta">
                            <ul>
                                <li><span>Publié le&nbsp;:</span> <a>&nbsp;14
                                        Juin 2023</a></li>
                            </ul>
                        </div>
                        <br>
                        <p>En l’absence de CSE, toute entreprise (de moins de 50
                            salariés) peut proposer à ses salariés de bénéficier
                            de chèques-vacances.</p>
                        <p>Cela va permettre à l’employeur de bénéficier
                            d’exonération de charges et au salarié d’un
                            complément de revenu.</p>
                        <a>Qu’est-ce qu’un chèque-vacances ?</a>
                        <p>Le chèque-vacance est un titre nominatif de paiement
                            qui permet au salarié d’acheter des prestations de
                            service liées aux loisirs et aux vacances (transport
                            en commun, chambre d’hôtel, camping, location de
                            voiture, restaurant, billet de train, frais de
                            culture, loisirs, etc.) en France et dans l’Union
                            Européenne.</p>
                        <p>Le chèque-vacance ne permet pas d’acheter des biens
                            de consommation courante (exemple : matériel de
                            plongée, serviettes de plage, etc).</p>
                        <p>Toutes les entreprises peuvent proposer à leurs
                            salariés des chèques-vacances. Il ne s’agit en aucun
                            cas d’une obligation légale mais d’une démarche
                            volontaire de l’employeur. De son côté le salarié
                            peut décider d’en profiter ou non.</p>
                        <hr>
                        <a>Qui peut en bénéficier ?</a>
                        <p>Tous les salariés peuvent en bénéficier quelque soit
                            leur contrat de travail.</p>
                        <p>Tous les travailleurs non-salariés peuvent également
                            en bénéficier (gérant majoritaire, profession
                            libérale, auto-entrepreneur).</p>
                        <p>Mais également les chefs d’entreprise de moins de 50
                            salariés, leurs conjoints ou concubins ou
                            partenaires liés par un Pacs ainsi que les personnes
                            à leur charge.</p>
                        <p>La participation de l’employeur est cependant
                            plafonnée. Elle dépend de la rémunération du salarié
                            ainsi que du nombre de parts de son foyer fiscal.</p>
                        <p>Ainsi, la contribution patronale ne doit pas dépasser
                            80 % de la valeur du chèque pour une rémunération de
                            moins de 3 428 € par mois. Elle est fixée à 50 %
                            dans le cas contraire.</p>
                        <p>Les pourcentages sont majorés de 5% par enfant à
                            charge (10 % lorsque l’enfant se trouve en situation
                            de handicap), dans la limite de 15 %.</p>
                        <hr>
                        <a>Quelle est leur durée de validité ?</a>
                        <p>Les chèques-vacances ont une durée de validité de
                            deux ans. La date limite de validité est fixée au 31
                            décembre de la 2ème année civile suivant l’année
                            d’émission.</p>
                        <p>Par exemple, en chèque émis le 1er mars 2021 devra
                            être utilisé avant le 31 décembre 2023.</p>
                        <p>Si vous n’avez pas utilisé le chèque-vacance à
                            l’issue de sa période de validité vous pouvez
                            demander son échange. L’échange est possible durant
                            les 3 mois qui suivent la fin de validité.</p>
                        <hr>
                        <a>Comment l’employeur peut-il attribuer des chèques
                            vacances ?</a>
                        <p>Le salarié désirant bénéficier de chèques-vacances
                            pourra financer en partie les chèques-vacances qu’il
                            souhaite acquérir.</p>
                        <p>Si le salarié le souhaite, il est envisageable de
                            procéder par prélèvements sur la paye. Il faudra
                            dans son cas requérir son accord écrit.</p>
                        <p>Critères pour l’attribution des chèques vacances :</p>
                        <p>* La contribution patronale devra faire l’objet d’un
                            accord collectif. Elle sera modulée selon les
                            niveaux de rémunération. Et elle ne pourra pas se
                            substituer à un élément de salaire passé ou à venir.</p>
                        <p>* Enfin, la contribution patronale se limitera à 30 %
                            du Smic brut mensuel (temps plein) par salarié.</p>
                    </div>
                    <div class="article-footer">
                        <div class="article-share">
                            <ul class="social">
                                <li><span>Partager:</span></li>
                                <li><a
                                        href="https://www.facebook.com/sharer/sharer.php?u=http://leaconseil.com/#/Actualité/chèques-vacances"
                                        target="_blank"><i
                                            class="flaticon-facebook"></i></a></li>
                                <li><a
                                        href="https://twitter.com/intent/tweet?url=http://leaconseil.com/#/Actualité/chèques-vacances"
                                        target="_blank"><i
                                            class="flaticon-twitter"></i></a></li>
                                <li><a
                                        (click)="shareOnLinkedIn('http://leaconseil.com/#/Actualité/chèques-vacances')"
                                        target="_blank"><i class="bx
                                        bxl-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
