.page-title-content a{
    font-family:Montserrat !important;
    font-size: 40px;
    color: white !important;
}

.article-image img{
    border-radius: 25px;
}

p{
    font-family:Montserrat !important;
    color: black;
    font-size: 20px;
}

a{
    font-family:Montserrat !important;
    color: #086AD8 !important;
    font-size: 40px;
}
ul li{
    font-size:25px !important;
}

ul li a {
    font-size:25px !important;
}
.item-bg-1 {
    background-image: url(../../../../assets/img/home-one/home3.webP);
}
